[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bmscstan"]
	path = bmscstan
	url = https://github.com/michelescandola/bmscstan
